#Gala
{
    width: 50%;
    margin: auto;
    height: 1800px;
}
.casa
{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 20;
    border: 3px solid white;
}
h1
{
    font-size: 250%;
    padding: 15px;
    text-align: center;
}
h1 a
{
    text-decoration: none;
    color: black;
}
h1 a:hover
{
    font-size: 200%;
    transition: .7s;
}
.homee
{
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 25px;
}
.homee li
{
    padding: 15px;
}
.homee li a
{
    text-decoration: none;
    padding: 18px;
    color:black;
}
.homee li a:hover
{
    box-shadow: 0px 0px 5px black;
    border-radius: 30px solid white;
    font-size: 20px;
    transition: .7s;
    transition-behavior: .7s;
}
#here1
{
    border-bottom: 2px solid darkmagenta;
}
#here1:hover
{
    border-bottom: white;
    transition: .7s;
}
#Cuerpo
{
    padding: 20px;
}
#Galery0
{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.ft
{
    margin: 10px;
    text-align: center;
    filter:grayscale(0.5);
    box-shadow: 3px 3px 3px black;
}
.ft img:hover
{
    height: 250px;
    transition: .7s;
}
.ft p
{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#redes1
{
    display: flex;
    list-style-type: none;
    justify-content: center;
}
#redes1 li
{
    padding: 10px;
}