#Gala
{
    width: 50%;
    margin: auto;
    height: 1800px;
}
.casa
{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 20;
    border: 3px solid white;
}
h1
{
    font-size: 250%;
    padding: 15px;
    text-align: center;
}
h1 a
{
    text-decoration: none;
    color: black;
}
h1 a:hover
{
    font-size: 200%;
    transition: .7s;
}
.homee
{
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 25px;
}
.homee li
{
    padding: 15px;
}
.homee li a
{
    text-decoration: none;
    padding: 18px;
    color:black;
}
.homee li a:hover
{
    box-shadow: 0px 0px 5px black;
    border-radius: 30px solid white;
    font-size: 20px;
    transition: .7s;
    transition-behavior: .7s;
}
#here1
{
    border-bottom: 2px solid darkmagenta;
}
#here1:hover
{
    border-bottom: white;
    transition: .7s;
}
#Cuerpo
{
    padding: 20px;
}
#imagen img
{
    width: 100%;
}
.icono
{
    text-align: center;
    float: right;
    color: goldenrod;
}
.icono img
{
    border-radius: 50%;
    width: 80px;
}
h2
{
    font-size: 220%;
    text-align: center;
    color: rgb(133, 132, 132);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#Cuerpo p
{
    text-align: justify;
    padding: 15px;
    font-size: 125%;
}
#luna1
{
    float: left;
    margin: 15px;
}
#luna1:hover
{
    height: 325px;
    transition: .7s;
}
#luna2
{
    float: right;
    margin: 15px;
}
#luna2:hover
{
    height: 325px;
    transition: .7s;
}
#redes1
{
    display: flex;
    list-style-type: none;
    justify-content: center;
}
#redes1 li
{
    padding: 10px;
}